*{
    
    /*box-sizing: border-box;
    border: 2px solid black;*/
}
.flex{
    display: flex;
    justify-content: space-around;
    
}
.icon{
    display: flex;
    justify-content: space-between;
}
 .li{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    }


.icn-img{
    max-height: 82;
    max-width: 135;
}
.icon{
    gap: 1.25rem;

}
.paragraph{
    color: rgba(137, 135, 161, 1);
}
.icon2{
    margin-left: 43rem;
}
.banner{
    display: flex;
    justify-content: space-around;
    margin: 6.25rem;
}
.color{
    color: #e95a08;
}
.end{
align-items: center;
}
.center{
    text-align: center;
}
.plant{
  display: grid;
    grid-template-columns: repeat(4 , 3fr);
    gap: 0rem;
    padding: 1.25rem;
    padding-left: 1.25rem;
    margin: 0.5rem;

    

}  
.same{
    width: 16.875rem;
    height: 30.25rem;
    margin: 0;
    padding: 0;
}

.btn{
    background-color: #e95a08;
    border: #e95a08;
    padding: 0.3125rem ,  6.25rem;
    white-space: nowrap;

    color: aliceblue;
    text-align: center;
}
.bold{
    font-weight: bold;
}
.plant-lover{
   display: flex; 
   justify-content: space-around;
   margin: 3.125rem;
   gap: 5rem;
   padding: 1.875rem;
}
.img{
  height: 30rem; 
  width: 30rem; 
}
.item{
    margin-top: 5.625rem;
    
}
.badge{
    position: relative;
    top: -36.25rem;
    max-width: 15.625rem;
    margin-left: 22.5rem;
    }
    .latest{
        margin-top: -12.5rem;

    }
    .image{
        display: flex;
        justify-content: center;
        gap: 3.125rem;

    }
    .image img{
        border-radius: 1.875rem;
    }
    .under{
       margin-top: -9.375rem;
        text-align: center;
        color: aliceblue;
        font-weight: bold;
    
    }
    .png{
        height: 18.75rem ;
        width: 25rem;
    }
    .st-img{
        height: 15.625rem;
        width: 18.75rem;
    }
    .zabo{
         margin-top: -18.75rem;
        text-align: center;
        color: aliceblue;
        font-weight: bold;
    }
    .white{
        color: aliceblue;
        font-weight: 900;
    }
    .last{
        margin-top: 12.5rem;
        justify-content: center;
        padding: 3.125rem;
    }
    .full{
     Width: 644px;
Height: 3.125rem;
Top: 0rem;
Left: 0rem ;
padding: 0.5rem, 1.25rem, 0.5rem, 1.25rem;
    }
.btu{
Width: 11.625rem;
Height: 3.125rem;
Top: 0rem;
Left: 40.25rem;
padding: 1.625rem, 3.125rem, 1.625rem, 3.125rem;
background-color: #e95a08;
color: aliceblue;
border: none;
}
footer{
    margin-top: 12.5rem;
}
.final{
    display: flex;
    justify-content: space-between;
    padding: 6.25rem;
    
}
.paragraphh{
    color:  rgba(137, 135, 161, 1);
    display: grid;
    grid-template-columns: repeat( 2 , 1fr);
    gap: 1.875rem;
}

.apps img{
    width: 1.875rem;
    height: 1.875rem;
}
@media  screen and (max-width: 576px) {
    .hidden{
        display: none;
    }
    .banner{
        display: grid;
        grid-template-columns: repeat(1 , 1fr);
        align-items: center;
        
    }
    .plant{
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        gap: 20px;
}
.plant-lover{
    display: grid;
    grid-template-columns: repeat(1 , 1fr);

}
.latest{
    display: grid;
    grid-template-columns: repeat(1 , 1fr);
    margin-top: 50px;
}
.image{
    display: grid;
    grid-template-columns: repeat(1 , 1fr);
    gap: 200px;
    margin-left: 200px;
}
.png{
    margin-left: 100px;
}

}


   

     
