.flex{
    display: flex;
    justify-content: space-around;
    
}
.icon{
    display: flex;
    justify-content: space-between;
}
 .li{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    }


.icn-img{
    max-height: 82;
    max-width: 135;
}
.icon{
    gap: 20px;

}
.paragraph{
    color: rgba(137, 135, 161, 1);
}
.icon2{
    margin-left: 43rem;
}
.banner{
    display: flex;
    justify-content: space-around;
    margin: 100px;
}
.color{
    color: #e95a08;
}
.end{
align-items: center;
}
.center{
    text-align: center;
}
.plant{
  display: grid;
    grid-template-columns: repeat(4 , 3fr);
    gap: 0;
    padding: 0;
    margin: 0;

}  
.same{
    width: 270px;
    height: 484px;
    margin: 0;
    padding: 0;
}

.btn{
    background-color: #e95a08;
    border: #e95a08;
    padding: 5px 100px;
    white-space: nowrap;

    color: aliceblue;
    text-align: center;
}
.bold{
    font-weight: bold;
}
.plant-lover{
   display: flex; 
   justify-content: space-around;
   margin: 50px;
   gap: 80px;
   padding: 30px;
}
.img{
  height: 480px; 
  width: 500px; 
}
.item{
    margin-top: 90px;
    
}
.badge{
    position: relative;
    top: -580px;
    max-width: 250px;
    margin-left: 360px;
    }
    .latest{
        margin-top: -200px;

    }
    .image{
        display: flex;
        justify-content: center;
        gap: 50px;

    }
    .image img{
        border-radius: 30px;
    }
    .under{
       margin-top: -150px;
        text-align: center;
        color: aliceblue;
        font-weight: bold;
    
    }
    .png{
        height: 300px ;
        width: 400px;
    }
    .st-img{
        height: 250px;
        width: 300px;
    }
    .zabo{
         margin-top: -300px;
        text-align: center;
        color: aliceblue;
        font-weight: bold;
    }
    .white{
        color: aliceblue;
        font-weight: 900;
    }
    .last{
        margin-top: 200px;
        justify-content: center;
        padding: 50px;
    }
    .full{
     Width: 644px;
Height: 50px;
Top: 0px;
Left: 0px ;
padding: 8px, 20px, 8px, 20px;
    }
.btu{
Width: 186px;
Height: 50px;
Top: 0px;
Left: 644px;
padding: 26px, 50px, 26px, 50px;
background-color: #e95a08;
color: aliceblue;
border: none;
}
footer{
    margin-top: 200px;
}
.final{
    display: flex;
    justify-content: space-between;
    padding: 100px;
    
}
.paragraphh{
    color:  rgba(137, 135, 161, 1);
    display: grid;
    grid-template-columns: repeat( 2 , 1fr);
    gap: 30px;
}

   

     
